<div id="search-bar-block" class="col-md-12 col-xs-12">

	<form novalidate class="search-bar-form" name="search-bar-form">

		<div class="col-xs-12 col-md-8">

			<div class="input-group">
				<span class="input-group-addon">Github</span>
				<input required ng-model="searchFactory.pattern" placeholder="Search repositories on github" class="form-control" type="text">
			</div>

		</div>

		<div class="col-xs-12 col-md-2">

			<div>
				<button ng-click="searchFactory.submitForm();" class="btn btn-primary form-control" type="submit">Search</button>
			</div>
		
		</div>

	</form>

</div>

<div id="github-repo-list-block" class="col-md-12 col-xs-12">

	<!-- List of repos -->
	<div ng-show="!searchFactory.hidden" class="list-group">

		<div ng-repeat="result in searchFactory.results" class="row search-result-single-block">

			<a  class="list-group-item col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1" ng-href="#/repoviewer/{{result.owner.login}}/{{result.name}}/committers">
				
				<span class="badge">
					{{result.stargazers_count}}
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</span>
				
				<h4 class="list-group-item-heading repos-text-block">{{result.full_name}}</h4>
				
				<p class="list-group-item-text repos-text-block">
					{{result.description || '-'}}
				</p>

			</a>

		</div>

		<nav ng-show="searchFactory.results.length > 0" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">
			<ul class="pager">
				<li ng-class="{'disabled' : searchFactory.page==1 }" class="previous"><a ng-click="searchFactory.submitForm('-')" href=""><span aria-hidden="true">&larr;</span> Previous</a></li>
				<li ng-class="{'disabled' : searchFactory.page == searchFactory.lastPage }" class="next"><a ng-click="searchFactory.submitForm('+')" href="">Next <span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</nav>

	</div>

</div>