#main-title-block h1{
	font-family: 'Coustard', serif;
	margin:4rem 0rem 4rem 0rem;
}

#search-bar-block{
	margin-top:2rem;
}

#github-repo-list-block{
	margin-top:5rem;
}

#repo-title-block h2{
	font-family: 'Coustard', serif;
	margin-bottom:5rem;
}

.repo-view-nav-desktop{
	margin-top:3rem;
}

.repo-view-nav-mobile{
	margin-bottom:3rem;
}

.search-result-single-block{
	margin-bottom:1rem;
}

/**
 * the three dots for too long repos descriptions
 */
.repos-text-block{
	white-space : nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}

.committer-name{
	text-align:center;
	white-space : nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}

.single-committer-block{
	margin:3rem 0rem 3rem 0rem;
}

.committer-img{
	min-width:11rem;
	min-height:11rem;
	max-height:11rem;
	max-width:11rem;
	/* center image on xs */
	margin:0 auto;
}

.committer-img-timeline{
	min-width:6rem;
	min-height:6rem;
	max-height:6rem;
	max-width:6rem;
	float:left;
}

.committer-timeline-content{
	float:left;
	margin-left:2rem;
}

.committer-timeline-content p{
	word-break:break-all;
}

.clear-this{
	clear:left;
}

.committer-rank{
	margin-top:.8rem;
}

.rank-logo{
	margin-left:.6rem;
}

.rank{
	margin-top:1rem;
}

.rank>span{
	font-size:1.4rem;
	color:black;
}

.rank-gold{
	background-color:gold;
	border-color:gold;
}

.rank-silver{
	background-color:silver;
	border-color:silver;
}

.rank-bronze{
	background-color:#CC7F32;
	border-color:#CC7F32;
}